<div id="<%= dom_id students_course %>">
  <p>
    <strong>Student:</strong>
    <%= students_course.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= students_course.course_id %>
  </p>

</div>
