<h1>Editing students course</h1>

<%= render "form", students_course: @students_course %>

<br>

<div>
  <%= link_to "Show this students course", @students_course %> |
  <%= link_to "Back to students courses", students_courses_path %>
</div>
