<div class="main-container">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'shared/studentsidebar', locals: { student_id: params[:student_id] } %>
    </div>
    <div class="col-md-9">
      <p style="color: green"><%= notice %></p>
      <h1>New students course</h1>
      <%= render "form", students_course: @students_course %>
      <br>
      <div>
        <%= link_to "Back to students courses", student_students_courses_path %>
      </div>
    </div>
  </div>
</div>
