<h1>Editing lecturer unit</h1>

<%= render "form", lecturer_unit: @lecturer_unit %>

<br>

<div>
  <%= link_to "Show this lecturer unit", @lecturer_unit %> |
  <%= link_to "Back to lecturer units", lecturer_units_path %>
</div>
