<%= stylesheet_link_tag 'student-account', media: 'all' %>
<div class="main-container">
  <div class="row">
    <div class="col-md-auto">
      <%= render partial: 'shared/studentsidebar', locals: { student_id: @student.id } %>
    </div>
    <div class="col-md-auto body-container">
      <%= render "form", student: @student %>
      <br>
    </div>
  </div>
</div>
