<div class="main-container">
  <div class="row">
    <div class="col-md-auto">
      <%= render partial: 'shared/studentsidebar', locals: { student_id: @student.id } %>
    </div>
    <div class="col-md-auto body-container">
      <h1>Editing student</h1>
      <%= render "form", student: @student %>
      <br>
      <div>
        <%= link_to "Show this student", @student %>
      </div>
    </div>
  </div>
</div>
