<div id="<%= dom_id course %>">
  <p>
    <strong>Course name:</strong>
    <%= course.course_name %>
  </p>

  <p>
    <strong>Corse code:</strong>
    <%= course.corse_code %>
  </p>

  <p>
    <strong>Lec:</strong>
    <%= course.lec_id %>
  </p>

</div>
