<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%# <%= link_to "Show this course", admin_course_path(course.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New course", new_admin_course_path %>
