// attendance
.table {
    width: 60vw;
  }
  
  .att-btn {
    display: flex;
    justify-content: right;
  }
  
  
  .body-container {
    margin-top: 2rem;
  }

  .scan-container{
    max-height: 30vh !important;
    background-color: black;
  } 
