@import 'animations';

body {
    background: #f8f9fa; /* Light gray background */
  }

  .landing-page {
    height: 100vh;
    width: 100vw;
    background: image-url('banner2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.603); /* Semi-transparent white background */
    backdrop-filter: blur(5px); /* Blur effect */
  }

  .heading {
    font-weight: 900;
  }


@import 'animations';

.head1 {
  overflow: hidden; 
  white-space: nowrap;
  animation: typingAnimation1 3s steps(20) forwards;
}

.head2 {
  overflow: hidden; 
  white-space: nowrap;
  animation: typingAnimation2 3s steps(20) forwards;
}

.button1, .button2 {
    color: #ffffff;
    font-weight: 700;
}

.button2 {
    background-color: #f8f9fa;
    color: #696cff;
}

.button2:hover {
    background-color: #f8f9fa;
}


.button1 {
    background-color: #696cff;
}

.button1:hover {
    background-color: #4b4bff;
  }

