.sidebar-links {
    li {
        svg path {
            stroke: #696cff;
            color: #696cff;
        }
    }

}

.ico path {
    fill: #696cff;
}

.sidebar__profile .badge {
    background-color: #28a745;
}