.accept-button {
    font-size: 0.6em; 
    padding: 5px 10px;
}

#lecturer_units {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: #ffffff !important;
    padding: 1em;
    border-top: 5px solid #696cff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.lec-body-container {
    margin-left: 3rem;
    margin-right: 3rem;
}