:root {
    --primary: #696cff;
    --secondary: #8592a3;
    --success: #71dd37;
    --info: #ffab00;
    --warning: #ffc107;
    --danger: #ff3e1d;
    --light: #f8f9fa;
    --dark: #233446;
    --body: #f4f5fb,
    --headingColor: #566a7f,
    --axisColor: #a1acb8,
    --borderColor: #eceef1
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
 }