<div id="<%= dom_id attendance %>">
  <p>
    <strong>Student:</strong>
    <%= attendance.students_course_id %>
  </p>
  <p>
    <strong>Attendance date:</strong>
    <%= attendance.attendance_date %>
  </p>
  <p>
    <strong>Present:</strong>
    <%= attendance.present %>
  </p>
</div>
