<div class="main-container">
  <div class="row">
    <div class="col-md-auto">
      <%= render partial: 'shared/studentsidebar', locals: { student_id: params[:student_id] } %>
    </div>
    <div class="col-md-auto body-container">
      <h1>Attendances</h1>
      <%= link_to "New attendance", scan_student_attendances_path, class: "btn btn-primary mb-3" %>
      <div id="attendances" class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Present</th>
            </tr>
          </thead>
          <tbody>
            <% @attendances.each do |attendance| %>
              <tr>
                <td><%= attendance.attendance_date %></td>
                <td><%= attendance.present ? 'Yes' : 'No' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
