<p class="notice"><%= notice %></p>
<div class="main-container">
  <div class="row">
    <div class="col-md-3">
    <%= render partial: "shared/sidebar", locals: { student_id: params[:student_id] } %>
    </div>
    <div class="col-md-9">
<div id="scanQrCodeModal">
  <h1>Scan QR Codes</h1>
  <div class="section">
    <div id="my-qr-reader"></div>
  </div>
</div>
</div>
</div>
</div>
